@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    height: 100%;
    width: 100%;
    font-family: roboto, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@layer base {
    .markdown ul {
        @apply list-disc pl-5
    }

    .markdown ol {
        @apply list-decimal pl-5
    }
}

